[Unit]
Description=Crapple imposter

[Service]
Type=simple
ExecStart=/usr/local/bin/start-ipod.sh
Restart=always

[Install]
WantedBy=multi-user.target
